@model List<Factory.Models.Engineer>;

@{
    ViewData["Title"] = "Engineers List";
}



<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Contacts</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (Engineer engineer in Model)
        {
            <tr>
                <td>@engineer.EngineerID</td>
                <td>@engineer.Name</td>
                <td>
                    <i class="fa-regular fa-envelope"></i>
                    <a href="mailto: @engineer.Email" target="_blank">
                        @engineer.Email
                     </a> 
                     <br />
                    <i class="fa-solid fa-phone"></i>
                     @engineer.Phone </td>
                <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@engineer.EngineerID">Details</a>
                </td>
            </tr>
        }
    </tbody>


</table>


